<div class="row" style='color:grey;'>
  {{md-select content=colorOptions
    value=activeColor
    label="colors"
    prompt="Please choose..." class="col s12"}}
</div>

<div class="row">
  {{md-textarea label='Username'
    value=username class="col s12"}}
</div>

{{outlet}}
