<div style="width:85%;margin:auto;">
<table style="padding-top:50px;">
<tr>
{{#each model as |spreadsheet|}}
<td>    <a href={{spreadsheet.link}} style="margin:auto;">
    <img src="spreadsheet.png" />
    </a>
</td>
{{/each}}
</tr><tr>
{{#each model as |spreadsheet|}}
<td>
    <a href={{spreadsheet.link}} style="margin:auto;">
       {{spreadsheet.filename}}
    </a>
</td>
{{/each}}
</tr>
</table>
</div>